.anchor
.DS_Store

**/*.rs.bk
node_modules
test-ledger
.yarn

# Ignore everything in target
/target/*

# Except the idl folder
!/target/idl/
!/target/idl/**

# Optional: allow types too if needed
!/target/types/
!/target/types/**